{{- /*
Creates or reuses a docker-registry Secret for ICR when no existingSecret name is provided and a key value is set.
The Secret is named using the helper "qiskit-studio.icr.secretName" and contains credentials for icr.io.
If a Secret with that name already exists in the namespace, it is reused and not created.
*/ -}}
{{- $ns := .Release.Namespace -}}
{{- $name := include "qiskit-studio.icr.secretName" . -}}
{{- $effectiveKey := include "qiskit-studio.icr.effectiveKey" . -}}
{{- $existing := (lookup "v1" "Secret" $ns $name) -}}
{{- if and (not .Values.global.imagePullSecrets.create) $effectiveKey (not $existing) }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $name }}
  labels:
{{ include "qiskit-studio.labels" . | nindent 4 }}
  annotations:
    # Created by Helm chart when icrkey or global.imagePullSecrets.value is provided
    qiskit-studio.ibm.com/managed: "true"
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: {{ (dict "auths" (dict "icr.io" (dict "username" "iamapikey" "password" $effectiveKey "email" "user@ibm.com" "auth" (printf "%s:%s" "iamapikey" $effectiveKey | b64enc)))) | toJson | quote }}
{{- end }}
