{{- $chatSecretName := include "qiskit-studio.llmSecretName" . -}}
{{- $embeddingSecretName := include "qiskit-studio.embeddingLlmSecretName" . -}}

{{- if and (.Values.global.llm.chat.secret.create) (.Values.global.llm.embedding.secret.create) (eq $chatSecretName $embeddingSecretName) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $chatSecretName }}
  labels:
    {{- include "qiskit-studio.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.global.llm.chat.secret.key }}: {{ .Values.global.llm.chat.secret.value | b64enc | quote }}
---
{{- else -}}
  {{- if .Values.global.llm.chat.secret.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $chatSecretName }}
  labels:
    {{- include "qiskit-studio.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.global.llm.chat.secret.key }}: {{ .Values.global.llm.chat.secret.value | b64enc | quote }}
---
  {{- end -}}
  {{- if .Values.global.llm.embedding.secret.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $embeddingSecretName }}
  labels:
    {{- include "qiskit-studio.labels" . | nindent 4 }}
type: Opaque
data:
  {{ .Values.global.llm.embedding.secret.key }}: {{ .Values.global.llm.embedding.secret.value | b64enc | quote }}
---
  {{- end -}}
{{- end -}}